{% extends "layout.html" %}

{% block chart %}

    <div class="card-body">
        <div class="mb-4">
            <div id="container" style="min-width:400px;height:400px"></div>
            <hr>
        </div>
    </div>
    <p id="data" style="display: none">{{ chart_list }}</p>
     <p id="username" style="display: none">{{ username }}</p>

{% endblock %}


{% block js %}
    var chart_data = $("#data").html()
    var username = $("#username").html()
    var chart = Highcharts.chart('container', {
    chart: {
    type: 'column'
    },
    title: {
    text:  JSON.parse(username) +'  ' + '屌丝的代码详情统计'
    },
    xAxis: {
    type: 'category',
    labels: {
    rotation: -45  // 设置轴标签旋转角度
    }
    },
    yAxis: {
    min: 0,
    title: {
    text: '代码量 (行)'
    }
    },
    legend: {
    enabled: false
    },
    tooltip: {
    pointFormat: '代码量: <b>{point.y:.0f} 行数</b>'
    },
    series: [{
    name: '行数',
    data: JSON.parse(chart_data),
    dataLabels: {
    enabled: true,
    rotation: -90,
    color: '#FFFFFF',
    align: 'right',
    format: '{point.y:.0f}', // :.1f 为保留 1 位小数
    y: 10
    }
    }]
    });

{% endblock %}