<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>登陆</title>
	<link rel="stylesheet" href="../static/login/auth.css">
</head>

<body>
	<div class="lowin lowin-blue">
		<div class="lowin-brand">
			<img src="../static/login/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form  novalidate method="post">
						<p>Sign in to continue</p>
						<div class="lowin-group">
							<label for="name">name</label>
							<input type="text"  id="name" name="user" class="lowin-input" autocomplete="text" >
						</div>
						<div class="lowin-group password-group">
							<label for="pwd">Password </label>
							<input type="password" name="pwd" id="pwd" class="lowin-input"  autocomplete="current-password">
						</div>
						<button class="lowin-btn login-btn" type="submit">
							Sign In
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>