{% extends "layout.html"%}

{% block extra %}
    <div style="float: left">
         <p style="color: #2a99f4">史上最强: {{ maxuser }}</p > <p> {{ maxcode }} 行代码 </p>
    </div>
{% endblock %}


{% block chart %}
    <h1 style='text-align: center'>代码排行榜</h1>
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>排名</th>
                <th>用户名</th>
                <th>代码总行数</th>
                <th>查看代码提交记录</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{row.user}}</td>
                    <td>{{ row.i }}</td>
                    <td>
                        <a href="/detail/{{row.user_id}}">查看</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}